.checkoutTop {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 999;
}
.checkoutTop p {
    margin: 0 30px;
    padding: 10px 0;
    line-height: 38px;
}
.checkoutTop p.active {
    border-top: 1px solid rgb(251, 66, 38);
    color: rgb(251, 66, 38);
}
.checkoutTop p span {
    font-size: 18px;
    margin-right: 5px;
}
/* #account {
    padding: 10px 0;
    margin-right: 30px;
    color: rgb(155, 155, 155);
    cursor: pointer;
    position: relative;
}
#account img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
} */
#account .logoutBtn {
    font-size: 14px;
    color: white;
    background-color: #888;
    padding: 6px 20px;
    position: absolute;
    bottom: -23px;
    left: 6px;
    border-radius: 3px;
    display: none;
}
#account:hover .logoutBtn {
    display: block;
}

.checkoutContent {
    padding-top: 61px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
}
.checkoutLeft {
    width: 72%;
    padding: 0px 90px;
}
.checkoutLeft_top {
    margin: 30px 0;
}
.checkoutLeft_top img {
    width: 50px;
    margin-right: 15px;
}
.checkoutLeft_cinemaInfo p:first-child {
    font-size: 16px;
}
.checkoutLeft_cinemaInfo p:first-child span {
    color: rgb(0, 143, 229);
}
.checkoutLeft_cinemaInfo p:nth-child(2) {
    font-size: 14px;
    margin-top: 5px;
    color: #9b9b9b;
    font-weight: 700;
}
.checkoutLeft_timeCountdown p {
    color: #9b9b9b;
    font-size: 10px;
}
.checkoutLeft_timeCountdown h3 {
    font-size: 29px;
    color: #fb4226;
}
.checkoutLeft_screen img {
    width: 100%;
}
.checkoutLeft_seatPlan {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.seatRowName {
    color: #3e515d;
    font-weight: 700;
    font-size: 15px;
}
.seat {
    /* width: 25px;
    height: 25px;
    background-color: #3e515d; */
    margin-right: 8px;
    position: relative;
    cursor: pointer;
    border-radius: 0px 0px 8px 8px;

    /* border-radius: 5px; */
}
.seat .item1 {
    background-color: #3e515d;
    height: 23px;
    width: 29px;
    border-radius: 2px 2px 8px 8px;
}
.seat .item2 {
    color: rgba(255, 255, 255, 0);
    font-size: 10px;
    padding: 3px 0;
    font-weight: 700;
    background-color: #3e515d;
    height: 22px;
    width: 22px;
    border-radius: 5px;
    border: 2px solid #fff;
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.seat.selectingSeat .item2 {
    color: #fff;
}
.seatRow {
    margin-bottom: 8px;
}
.checkoutLeft_seatType .seat {
    width: 25px;
    height: 25px;
    background-color: #3e515d;
    margin-right: 8px;
    /* position: relative; */
    border-radius: 5px;
}
.checkoutLeft_seatType .vipSeat,
.vipSeat .item1,
.vipSeat .item2 {
    background-color: #f7b500;
}
.checkoutLeft_seatType .bookedSeat,
.bookedSeat .item1,
.bookedSeat .item2 {
    background-color: #aeb8bd;
}
.seat.bookedSeat {
    cursor: no-drop;
}
.checkoutLeft_seatType .selectingSeat,
.selectingSeat .item1,
.selectingSeat .item2 {
    background-color: #44c020;
}
.checkoutLeft_seatType {
    width: 50%;
    margin: auto;
    margin-top: 60px;
}
.checkoutLeft_seatType .seat {
    margin: auto;
    margin-bottom: 5px;
    width: 16px;
    height: 16px;
}
.checkoutLeft_seatType .seatTitle {
    font-size: 12px;
    color: #9b9b9b;
}

.checkoutRight {
    width: 28%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;

    /* overflow-y: scroll;
     */
}
.checkoutRight_top {
    padding: 0 22px;
    height: 100%;
}
.checkoutRight .section {
    padding: 10px 0;
    border-bottom: 1px dashed #e9e9e9;
}
.checkoutRight_totalAmt {
    padding: 18px 0 12px;
    font-size: 36px;
    color: #44c020;
    border-bottom: 1px dashed #e9e9e9;
}

.checkoutRight_cinemaInfo h3 {
    margin-bottom: 5px;
    font-size: 16px;
}
.checkoutRight_cinemaInfo h3 span {
    color: white;
    font-weight: 700;
    background-color: red;
    border-radius: 5px;
    padding: 3px 5px;
    margin-right: 8px;
}

.checkoutRight_seatInfo .seatCode {
    width: 60%;
    color: rgb(251, 66, 38);
}
.checkoutRight_seatInfo .totalAmt {
    width: 40%;
    font-size: 16px;
    color: #44c020;
}
.checkoutRight_userInfo p:first-child {
    color: #9b9b9b;
    font-size: 12px;
    margin: 0;
}
.checkoutRight_userInfo input:focus {
    outline: none;
}
.checkoutRight_payment {
    padding-top: 10px;
    padding-bottom: 130px;
}
.checkoutRight_payment input {
    width: 22px;
    height: 22px;
    transform: translateY(8px);
}
.checkoutRight_payment img {
    width: 40px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 8px;
}
.checkoutRight_notice {
    padding: 0 22px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 35px;
    background-color: white;
}
.checkoutRight_notice img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.checkoutRight_notice p:last-child span {
    color: rgb(247, 147, 32);
}
.bookingBtn {
    position: fixed;
    bottom: 0;
    width: 28%;
    padding: 14px 0;
    background-image: linear-gradient(223deg, #b4ec51, #429321);
    /* rgb(175, 175, 175) */
    color: #e9e9e9;
    font-size: 24px;
    cursor: pointer;
}
.blockBookingBtn {
    background-color: rgb(175, 175, 175);
    background-image: none;
    cursor: auto;
}

.checkoutResult {
    padding-top: 61px;
}
.checkoutResult_left {
    background-image: url(../../assets/img/filmPoster.jpg);
    width: 26%;
    height: calc(100vh - 61px);
    background-position: center;
    background-size: cover;
    position: fixed;
}
.checkoutResult_overlay {
    background-color: black;
    opacity: 0.7;
    height: 100%;
    width: 100%;
}
.checkoutResult_filmInfo {
    width: 85%;
    position: absolute;
    bottom: 29%;
    left: 50%;
    transform: translateX(-50%);
    color: #e9e9e9;
}
.checkoutResult_filmInfo h3 {
    font-size: 24px;
    color: #e9e9e9 !important;
    margin: 18px 0;
}
.checkoutResult_filmInfo h3 span {
    color: white;
    font-weight: 700;
    font-size: 15px;
    background-color: #fb4226;
    border-radius: 5px;
    padding: 3px 5px;
    margin-right: 8px;
}
.checkoutResult_filmInfo p:last-child {
    font-size: 16px;
}
.checkoutResult_right {
    margin-left: 26%;
    margin-top: 30px;
}
.checkoutResult_right_content {
    width: 39%;
    margin: auto;
}
.checkoutResult_ticket {
    width: 100%;
    border: 2px solid #e9e9e9;
    box-shadow: 0 10px 20px 0 gray;
}
.checkoutResult_right .ticketInfo {
    padding: 30px 20px;
}
.checkoutResult_right .ticketInfo h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
.checkoutResult_right .ticketInfo h3 span {
    color: white;
    font-weight: 700;
    font-size: 15px;
    background-color: #fb4226;
    border-radius: 5px;
    padding: 3px 5px;
    margin-right: 8px;
}
.checkoutResult_right .cinemaLogo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.checkoutResult_right .cinemaDetails {
    width: 60%;
}
.checkoutResult_right .cinemaDetails p:last-child {
    color: #9b9b9b;
}
.checkoutResult_right .scheduleInfo {
    margin-top: 20px;
    margin-right: 60px;
}
.checkoutResult_right .scheduleInfo div p {
    margin: 0;
    color: #4a4a4a;
}
.checkoutResult_right .scheduleInfo div h4 {
    font-size: 18px;
}
.checkoutResult_right .seatCode {
    margin-top: 20px;
}
.checkoutResult_right .seatCode p {
    margin: 0;
    font-size: 14px;
    color: #4a4a4a;
}
.checkoutResult_right .seatCode h4 {
    font-size: 18px;
    margin: 0;
}
.checkoutResult_right .division {
    height: 2px;

    background-image: linear-gradient(270deg, #e9e9e9 60%, rgba(255, 255, 255, 0) 0);
    background-size: 30px 2px;
    position: relative;
}
.checkoutResult_right .halfCircle {
    background-color: #d5d5d5;
    width: 9px;
    height: 18px;
    position: absolute;
    top: -9px;
}

.checkoutResult_right .halfCircle_left {
    border-radius: 0 999px 999px 0;
}
.checkoutResult_right .halfCircle_right {
    border-radius: 999px 0 0 999px;
    right: 0;
}
.checkoutResult_right .ticketQRCode {
    padding: 30px 20px;
}
.checkoutResult_right .ticketQRCode img {
    width: 130px;
    height: 130px;
}
.checkoutResult_right .ticketQRCode .ticketCode p {
    color: #4a4a4a;
    font-size: 14px;
    margin-bottom: 7px;
}
.checkoutResult_right .ticketQRCode .ticketCode h3 {
    color: #fb4226;
    font-size: 24px;
}
.checkoutResult_right .ticketQRCode h2 {
    margin-top: 25px;
    color: #4a4a4a;
    text-transform: uppercases;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 24px;
}
.checkoutResult_right .homeBtn {
    width: 80%;
    margin: 15px auto;
    padding: 13px;
    border: 1px solid #979797;
    border-radius: 5px;
    font-size: 20px;
    color: #4a4a4a;
    transition: all 0.5s;
}
.checkoutResult_right .homeBtn:hover {
    background-color: #fb4226;
    border-color: #fb4226;
    color: white;
}
.checkoutResult_right .hotline h2 {
    text-align: right;
    color: #9b9b9b;
    font-size: 18px;
}
.checkoutResult_right .hotline .hotlineFee {
    color: red;
    font-size: 10px;
}

.checkoutResult_right .hotline .hotlineNumber p {
    font-size: 36px;
}
